.container{
    margin-bottom: 100px;

}
.lightpink-bg{
    background-color: #fceae8;
}

.carousel-item{
    padding: 20px 25px;
}

.price{
    color: darkblue;    
}

.buy-now-button{
    background-image: linear-gradient(to bottom, gray 0%, black 100%);
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;    
}

.smartphone{
    background-color: lightgrey
}

.laptop{
    background-color: lightgoldenrodyellow
}

.laptop, .smartphone{
    padding: 10px 30px;
    border-radius: 10px;
}


.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer{
    background-color: white;
    border-top: none;
}

#subscribe{
    width: 500px;
    height: 200px;
}

#contactus h6{
    color:gray
}


.category-title h2{
    width: 160px;
    border-bottom: 4px solid transparent;
    padding-bottom: 6px;
    border-image: linear-gradient(to right,#FF9C35  0% ,  #FFD019 100%);
    border-image-slice: 1;
}






span.cate{
    border: 1px solid orange;
    width: 9%;
    height: 7px;
    border-radius: 15 px;
    display: inline-block;
    background-color: orange;
}
.cate-bg{
    box-shadow: 5px 5px 10px lightgray;
    padding: 20px;
    border-radius: 0 25px;
}
.cate-go{
   margin: 25px 0;
}
.order img{
    width: 100%;
}
